@font-face {
    font-family: 'SFProDisplayRegular';
    src: url('../assets/fonts/SFProDisplayRegular.ttf') format('truetype');
}
/* SF Pro Semibold */
@font-face {
    font-family: 'SFProSemibold';
    src: url('../assets/fonts/SFProSemibold.ttf') format('truetype');
}

/* Gotham Ultra */
@font-face {
    font-family: 'GothamUltra';
    src: url('../assets/fonts/GothamUltra.ttf') format('truetype');
}

/* Gotham Bold */
@font-face {
    font-family: 'GothamBold';
    src: url('../assets/fonts/GothamBold.ttf') format('truetype');
}

/* Gotham Book */
@font-face {
    font-family: 'GothamBook';
    src: url('../assets/fonts/GothamBook.ttf') format('truetype');
}

body {
    background-color: #f4e4c4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container-xxl {
    background: linear-gradient(to bottom, #F6ECD3, #EFE0BF);
    margin-top: 55px;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}
.left-section {
    width: 20rem;
    background-color: #424245;
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: black;
    padding-left: 50px;
    padding-right: 50px;
    align-items: left;
}

.logo-left {
    max-width: 12rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.left-section #data-user {
    text-align: left;
    color: #F6ECD3;
    margin-bottom: 18px;
}
.left-section #data-user h3{
    font-family: 'GothamBold', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: -2px;
}
.left-section #data-user h4{
    font-family: 'GothamBook', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}
.right-section {
    width: 1120px;
    margin-right: -12px;
    padding-top: 35px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: black;
}
.right-section h2 {
    font-family: 'GothamBold', sans-serif;
    font-weight: 700;
}
.right-section h1 {
    font-family: 'GothamBold', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin-top: -15px;
}
.right-section p {
    font-family: 'GothamBold', sans-serif;
    color: #474747;
    font-size: 15px;
    margin-bottom: 5px;
}


.questions-list {
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    height: 220px;
    font-size: 14px;
    background-color: white;
    margin-bottom: 20px;
}

.btn-logout {
    font-family: 'GothamBook', sans-serif !important;
    font-size: 12px !important;
    padding: 0.4rem 1.25rem; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 6rem;
    height: 2rem;
}

.footer {
    background: linear-gradient(to bottom, #313131, #424245);
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 10rem;
}

.footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 40px;
}


.footer-title {
    font-size: 3rem;
    font-family: 'GothamUltra', sans-serif;
    color: #e4dbc6; /* Darker color for the logo text */
    margin-left: 10px;
}

.footer small {
    color: #b4aa95;
    font-size: 0.85rem;
    font-family: 'GothamBook', sans-serif;
}

@media (max-width: 932px) {
    .container-xxl {
        margin-top: 53px;
        width: 100%;
        display: flex;
        overflow: hidden;
        flex-grow: 1;
        flex-direction: column;
    }
    
    .left-section {
        width: 100%;
        background-color: #424245;
        color: black;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: black;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }
    
    .logo-left {
        max-width: 40%;
        margin-top: 30px;
        margin-bottom: 5px;
    }
    
    .left-section #data-user {
        text-align: center;
        margin-top: 30px;
        color: #F6ECD3;
    }
    .left-section #data-user h3{
        font-family: 'GothamBold', sans-serif;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: -2px;
    }
    .left-section #data-user h4{
        font-family: 'GothamBook', sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .right-section {
        width: 100%;
        padding-top: 35px;
        padding-right: 30px;
        padding-left: 30px;
        color: black;
        display: flex;
        flex-direction: column;
        font-weight: bold;
        color: black;
        align-items: center;
    }
    .right-section h2 {
        font-family: 'GothamBold', sans-serif;
        font-weight: 700;
        font-size: 20px;
    }
    .right-section h1 {
        font-family: 'GothamBold', sans-serif;
        font-size: 50px;
        font-weight: 900;
        margin-top: -15px;
        font-size: 30px;
    }
    .right-section p {
        font-family: 'GothamBold', sans-serif;
        color: #474747;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    .btn-ask-away {
        font-family: 'GothamBook', sans-serif !important;
        font-size: 12px !important;
        padding: 0.4rem 1.25rem; 
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        width: 6rem;
        height: 2rem;
    }
    
    .questions-list {
        border-radius: 30px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        height: 280px;
        font-size: 14px;
        background-color: white;
        margin-bottom: 30px;
    }

    .btn-logout {
        font-family: 'GothamBook', sans-serif !important;
        font-size: 12px !important;
        padding: 0.4rem 1.25rem; 
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        width: 6rem;
        height: 2rem;
    }

    .footer .footer-container {
        display: flex;
        flex-direction: column; /* Arrange items vertically */
        align-items: center; /* Center horizontally */
        height: 100%; /* Make container take full height of footer */
        align-items: bottom;
    }
    
    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2.2rem;
    }
    
    .logo-img {
        height: 40px;
        margin-right: 10px;
    }
    
    .footer-title {
        font-size: 3rem;
        font-family: 'GothamUltra', sans-serif;
        color: #e4dbc6; 
        text-align: center;
    }

    .footer small {
        color: #b4aa95;
        font-size: 0.85rem;
        font-family: 'GothamBook', sans-serif;
        text-align: center;
    }
}